<footer class="blog-footer row">
        <div class="container gutters">
            <div class="col span_6">
                <!--nav id="secondary-navigation" class="social-media">
                    <ul>
                        <li class="facebook"><a href="#">Facebook</a></li>
                        <li class="twitter"><a href="#">Twitter</a></li>
                        <li class="google"><a href="#">Google+</a></li>
                    </ul>
                </nav!-->
            </div>
            <div class="col span_6">
                <p class="copyright">&copy; 2016. EParedez Blog.</p>
            </div>
        </div>
    </footer>