<header class="blog-header row">
        <div class="container gutters">
            <div class="blog-name col span_9">
                <a href="{{ site.baseurl }}/">{{ site.title }}</a>
            </div>
            <div class="blog-search col span_3">
                <!--div class="search-form">
                    <form action="">
                        <input class="input_full" type="search" placeholder="Search here...">
                    </form>
                </div!-->
            </div>
        </div>
    </header>
    <!-- Navigation -->
    <!--nav class="blog-menu row">
        <div class="container">
            <ul id="main-navigation" class="link-menu">
                <li><a href="/">Home</a></li>
                <li><a href="#">Archive</a></li>
                <li><a href="#">Books</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </nav!-->